head
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   meta(name='description', content='')
   meta(name='author', content='')
   link(rel='icon', href='favicon.ico')

   title Cover Template for Bootstrap

   link(href='/css/bootstrap.min.css', rel='stylesheet')

   link(href='/stylesheets/grid.css', rel='stylesheet')

   script(src='/js/ie-emulation-modes-warning.js')


body
   h3 Contact info for the project contributers
   p
   | Please contact by email if you have any questions
   .row
      .col-md-8 Robert
         .row
            .col-md-6 Email
            .col-md-6 something@gmail.com
   .row
      .col-md-8 Alec
         .row
            .col-md-6 Email
            .col-md-6 something@gmail.com
   .row
      .col-md-8 Kavya
         .row
            .col-md-6 Email
            .col-md-6 something@gmail.com

   hr



   //
      Bootstrap core JavaScript
         ==================================================
   //
      Placed at the end of the document so the pages load faster
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
   script(src='/js/bootstrap.min.js')
   //
      IE10 viewport hack for Surface/desktop Windows 8 bug
   script(src='/js/ie10-viewport-bug-workaround.js')