head
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   meta(name='description', content='')
   meta(name='author', content='')
   link(rel='icon', href='favicon.ico')
   title Instragram Mosaic

   link(href='css/bootstrap.min.css', rel='stylesheet')

   link(href='css/bootstrap-theme.min.css', rel='stylesheet')

   link(href='stylesheets/cover.css', rel='stylesheet')
   link(href='stylesheets/pict_grid.css', rel='stylesheet')

body
   .site-wrapper
      .site-wrapper-inner
         .cover-container
            .masthead.clearfix
            .inner
               h3.masthead-brand Project
               ul.nav.masthead-nav
                  li
                     a(href='/') Home
                  li.active
                     a(href='/main') Main
            .page-header
               form(role='form', id='tag_input')
                  .form-group
                     label(for='GivenTag') Tag
                     input.form-control(type='text', placeholder='Enter Tag')
                  button.btn.btn-default(type='submit') Submit

            .pattern#pattern
               ul.g
                  //
                     - for (var x = 0; x < 20; x++)
                        li
                           a(href='#')
                              img(src='http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png', alt='Product Name')
            .mastfoot
               .inner
                  a(href='/contact') Contact




   //
      Bootstrap core JavaScript
         ==================================================
   //
      Placed at the end of the document so the pages load faster
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
   script(src='/js/bootstrap.min.js')
   script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-instagram/0.3.1/instagram.min.js')
   script(src='/js/instagram.js')

