head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='favicon.ico')
    title Instagram Mosaic
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/canvas.css', rel='stylesheet')
    link(href='css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='stylesheets/cover.css', rel='stylesheet')
    //link(href='/css/progressjs.min.css', rel='stylesheet')
body
    .site-wrapper
        .inner
            div#canvases(width=640 height=640)
            //
                -var size=32
                -var dim=20
                -for (var x=0;x<size;x++){
                    -for (var y=0;y<size;y++)
                        canvas(id="main_canvas"+"_"+x+"_"+y width=dim height=dim)
                -}

            button.btn.btn-default.edit#Left(type='button') Left
            button.btn.btn-default.edit#Invert(type='button') Invert
            button.btn.btn-default.edit#Flip(type='button') Flip
            button.btn.btn-default.edit#Right(type='button') Right
            button.btn.btn-default.edit#Inc(type='button') +
            button.btn.btn-default.edit#Dec(type='button') -
            br
            br
            .input-group
                input.form-control(type='text')
                span.input-group-btn
                    button.btn.btn-default#save(type='button') Save
                // /input-group
            // /.col-lg-6
        // /.row
    //
       Bootstrap core JavaScript
          ==================================================
    //
       Placed at the end of the document so the pages load faster

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/kdTree.js')
    script(src='/js/async.js')
    script(src='/js/canvas.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-instagram/0.3.1/instagram.min.js')
    script(src='/js/getImageData.js')
    script(src='/js/averageColor.js')
    script(src='/js/spin.min.js')
    script(src='/js/fetchPictures.js')
