head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='favicon.ico')
    title Instagram Mosaic
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    link(href='/stylesheets/canvas.css', rel='stylesheet')
    link(href='css/bootstrap-theme.min.css', rel='stylesheet')
    link(href='stylesheets/cover.css', rel='stylesheet')
    link(href='/css/progressjs.min.css', rel='stylesheet')
body
    .site-wrapper
        .inner
            div#canvases(width=640 height=640)
                -for (var x=0;x<64;x++){
                    -for (var y=0;y<64;y++)

                        canvas(id="main_canvas"+"_"+x+"_"+y width=10 height=10)
                -}


            .input-group
                input.form-control(type='text')
                span.input-group-btn
                    button.btn.btn-default(type='button') Save
                // /input-group
            // /.col-lg-6
        // /.row




        a(href='/contact') Contact


    //
       Bootstrap core JavaScript
          ==================================================
    //
       Placed at the end of the document so the pages load faster

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/progress.min.js')
    script(src='/js/canvas.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-instagram/0.3.1/instagram.min.js')
    script(src='/js/getImageData.js')
    script(src='/js/averageColor.js')
    script(src='/js/kdTree-min.js')
    script(src='/js/spin.min.js')
    script(src='/js/fetchPictures.js')
