head
   //http://bootsnipp.com/snippets/featured/basic-register-page
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   meta(name='description', content='')
   meta(name='author', content='')
   link(rel='icon', href='favicon.ico')
   title Instagram Mosaic

   link(href='css/bootstrap.min.css', rel='stylesheet')

   link(href='css/bootstrap-theme.min.css', rel='stylesheet')

   link(href='stylesheets/signin.css', rel='stylesheet')
body
   .container-fluid
      section.container
         .container-page
            .col-md-6
               h3.dark-grey Registration
               .form-group.col-lg-12
                  label Username
                  input#username.form-control(type='', name='', value='')
               .form-group.col-lg-6
                  label Password
                  input#password.form-control(type='password', name='', value='')
               .form-group.col-lg-6
                  label Repeat Password
                  input#password.form-control(type='password', name='', value='')
               .form-group.col-lg-6
                  label Email Address
                  input#email.form-control(type='email', name='', value='')
               .form-group.col-lg-6
                  label Repeat Email Address
                  input#email.form-control(type='email', name='', value='')
            .col-md-6
               h3.dark-grey Terms and Conditions
               p
                  | By clicking on &quot;Register&quot; you agree to The Company&apos;s&apos; Terms and Conditions
               p
                  | Be nice to everyone
               button.btn.btn-primary(type='submit') Register
