//

head
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   meta(name='description', content='')
   meta(name='author', content='')
   link(rel='icon', href='favicon.ico')
   title Instagram Mosaic
   link(href='css/bootstrap.min.css', rel='stylesheet')
   link(href='css/bootstrap-theme.min.css', rel='stylesheet')
   link(href='stylesheets/cover.css', rel='stylesheet')
   link(href='stylesheets/pict_grid.css', rel='stylesheet')
   link(href='stylesheets/main.css', rel='stylesheet')
body
   .site-wrapper
      .site-wrapper-inner
         .cover-container
            .masthead.clearfix
               .inner
                  h3.masthead-brand Instagram Mosaic
                  ul.nav.masthead-nav
                     li
                        a(href='/') Home
                     li
                        a(href='/main') Main
                     li.active
                        a(href='/user') User
                     li
                        a(href='/location') Locations
                     li
                        a#curUser(href='/signin') Sign in
                     li
                        a#signout(href="javascript:localStorage.removeItem('username');javascript:window.location.reload()")
            .page-header
               form(role='form', id='user_input')
                  .form-group
                     label(for='GivenUser') UserName
                     input.form-control(type='text', placeholder='Enter User')
                  button.btn.btn-default(type='submit') Submit

         .pattern#pattern
            ul.g
                  //
                     - for (var x = 0; x < 20; x++)
                        li
                           a(href='#')
                              img(src='http://bradfrost.github.com/this-is-responsive/patterns/images/fpo_square.png', alt='Product Name')
   //
      Bootstrap core JavaScript
         ==================================================
   //
      Placed at the end of the document so the pages load faster
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
   script(src='/js/bootstrap.min.js')
   script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-instagram/0.3.1/instagram.min.js')
   script(src='/js/getImageData.js')
   script(src='/js/averageColor.js')
   script(src='/js/spin.min.js')
   script(src='/js/oauth.js')
   script(src='/js/oAuthLogin.js')
   script(src='/js/curUser.js')
